#include <windows.h>
#include "resource.h"

IDI_DOUBLE_CLICK_HOTKEY ICON "../../../assets/icon.ico"
1 RT_MANIFEST "double_click_hotkey.manifest"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "Double Click Hotkey\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "DoubleClickHotkey\0"
            VALUE "OriginalFilename", "DoubleClickHotkey.exe\0"
            VALUE "ProductName", "Double Click Hotkey\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
